body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.game {
  width: 100%;
  height: 200px;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 10%;
  right: 30px;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  height: 24px;
  background: url(./images/ground.png);
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  width: 88px;
  height: 94px;
  position: absolute;
  left: 30px;
  bottom: calc(var(--bottom) * 1%);
  background: url(./images/dino-run-0.png);
  background-size: cover;
}
